html,
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

body {
    background: url('./img/hinh-nen-tieu-cuong-thi-cho-may-tinh.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-origin: center;
    overflow-x: hidden;
    width: 100vw;
}

#Yes {
    width: 156px;
    ;
}

#No {
    padding-left: 200px;
}

button {
    width: 156px;
}

.btn-outline-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}